@page "/Portfolio"
@inject IPostDictionary PostDirectory

<PageTitle>Portfólio</PageTitle>

<h1>Portfólio</h1>
<div class="publishDate">
    Jún 2015
</div>
<div class="row">
    <p class="col-sm-12">
    <p>Na tejto stránke uvádzam zoznam niektorých mojich zaujímavých projektov, ktoré som sa rozhodol zverejniť.</p>
    </p>
</div>

<div class="row">
    <p class="col-sm-12">
        <ul class="list-unstyled">
            @foreach (var doc in this.GetPortfolioItems())
            {
                <li><a href="/md/@doc.MarkdawnFile">@doc.Properties[CommonProperties.Menu]</a></li>
            }
        </ul>
    </p>
</div>

@code {
    private IEnumerable<PostInfo> GetPortfolioItems()
    {
        return this.PostDirectory.GetAll()
          .Where(t => t.Properties.ContainsKey(CommonProperties.Cathegory) && t.Properties[CommonProperties.Cathegory] == "Portofolio")
          .OrderByDescending(t => t.Published);
    }
}