@{
    ViewBag.UseHighiler = false;
    ViewBag.UseMathjax = false;
    ViewBag.Title = "Obsah";

    var groups = Documents["Posts"]
    .GroupBy(t => DateTime.Parse((string)t["Published"]).ToString("MMMM yyyy"))
    .OrderByDescending(t => DateTime.Parse((string)t.First()["Published"]));
}
<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @foreach (var itemGroup in groups)
        {
        <h5>@itemGroup.Key</h5>
        <ul class="list-unstyled" style="padding-left: 1em;">
            @foreach (var item in itemGroup.OrderByDescending(t => DateTime.Parse((string)t["Published"])))
            {
            <li><a href="@Context.GetLink(item["PostFile"].ToString(), (bool)Context.Settings["GS.UseAbsoluteUrls"])">@item["Menu"]</a></li>
            }
        </ul>
        }
    </div>
</div>